@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap');

/* ---- reset ---- */

html {
  box-sizing: border-box;
  /*
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Bungee', cursive;
  font-family: 'Barriecito', cursive;
  font-family: 'Cabin Sketch', cursive;
  */
  font-family: 'Love Ya Like A Sister', cursive;
  letter-spacing: 2;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-size: 22px;
  line-height: 147%;
}

h1 {
  margin: 0;
}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 0px;
  height:100vh;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/* ---- components ---- */

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.flex-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Homescreen splash and game over */

.homescreen {
  background-color: #50C0FB;
  position:relative;
}

.homescreen img.absolute {
  position:absolute;
}

.image1 {
  width:25px;
  top: 10%;
  left: 20%;
}

.image2 {
  width:40px;
  top: 30%;
  right: 9%;
}
.image3 {
  width:40px;
  top: 60%;
  left: 5%;
}
.image4 {
  width:30px;
  top: 90%;
  right: 15%;
}

.image5 {
  width:40px;
  top: 100%;
  right: 70%;
}

.image6 {
  width:40px;
  top: 5%;
  right: 30%;
}

.homescreen div {
  width: 100%;
  height: 50%;
}

.homescreen div:first-child{
  align-items: center;
  position: relative;
}

.homescreen div:first-child h1{
  font-size: 80px;
  margin: 3rem;
  color: black;
}

.homescreen div:first-child h2{
  font-size: 40px;
  margin: 2rem;
  color: rgb(20, 20, 20);
}

.homescreen div:first-child button{
  background-color: #2158e8;
  color: white;
  border: none;
  padding: 15px 32px;
  border-radius: 10px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom:5px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

.homescreen div:first-child button:hover{
  background-color: #fff;
  color: #2158e8;
  transition: 0.5s ease all;
  cursor: pointer;
}

.homescreen div:nth-child(2) div {
  height: 300px;
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQoU2NcdT3wPwMa+PHrB7oQA+NQULjooieGZzjYODA9MwQUAgD09SrHUhwAQgAAAABJRU5ErkJggg==
    ) repeat;
  background-size: 70px;
}

.snake {
  width: 600px!important;
  height: 40px!important;
  border-radius: 60%;
  animation: slidein 40s infinite;
  position: absolute;
  top: 77%;
  left: 0;
  background:url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQoU2N0K375n4EAuHBuIwPjqEJcoUSb4AEAz9Yxa0gpiRMAAAAASUVORK5CYII=
     ) repeat;
}


.snake2 {
  width: 400px!important;
  height: 30px!important;
  border-radius: 50%;
  animation: slidein 50s infinite;
  animation-delay: 5s;
  animation-name: slidein2;
  position: absolute;
  top: 85%;
  left: -60%;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQoU2N0K375n4EAuHBuIwPjqEJcoUSb4AEAz9Yxa0gpiRMAAAAASUVORK5CYII=
    ) repeat;
  }
  
  .snake3 {
    width: 600px!important;
    height: 40px!important;
    border-radius: 60%;
    animation: slidein 50s infinite;
    animation-delay: 20s;
    position: absolute;
    top: 70%;
    left: -50%;
    background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQoU2N0K375n4EAuHBuIwPjqEJcoUSb4AEAz9Yxa0gpiRMAAAAASUVORK5CYII=
       ) repeat;
  }

@keyframes slidein {
  from {
    top: 70%;
    left: -40%;
  }

  to {
    top: 70%;
    left: 110%;
  }
}

@keyframes slidein2 {
  from {
    top: 87%;
    left: -60%;
  }

  to {
    top: 87%;
    left: 110%;
  }
}

/* Game screen */

#canvas {
  border: solid 25px #578A34;
  border-radius: 0 0 20px 20px;
}

#game-score-level {
  color: white;
  background-color: #4A752C;
  border-top: solid 10px #4A752C;
  border-bottom: solid 10px #4A752C;
  border-left: solid 25px #4A752C;
  border-right: solid 25px #4A752C;
  width: 550px;
  border-radius: 20px 20px 0 0;
}

#game-screen {
  position: absolute;
  top: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



